<h1>Đây là trang chi tiết của bác sĩ có id : {{doctorId}}</h1>
<h2>Name: {{doctor.name}}</h2>
<h2>Chuyen mon: {{doctor.specialist}}</h2>
<h2>Don vi cong tac: {{doctor.unit}}</h2>

<h3>Mo ta chi tiet: Time Capstone: 18/5 -> 28/8/2020

    ===                                                                                                                                                                                                                                                              =======
    How to routing 
    1 app-routing.module.ts
    2  app.module.ts => import appRoutingModule 
    3. create a routingComponents array
    </h3>