table {
  width: 100%;
}
.container-doctor {
    padding: 40px;
}
.mat-form-field {
  font-size: 14px;
  width: 50%;
}
.mat-header-cell {
  background-color: cornflowerblue;
}
.displayFilter{
  padding: 40px;
}
.selectHospital, .searchInput, .selectDepartment, .searchButton{
  
  display: inline-block;
}
.selectHospital{
  float: left;
  width: 30%;
} 
.searchInput{
  float: left;
  width: 25%;
}
.selectDepartment{
  float: left;
  width: 25%;
}
.searchButton{
  float:left;
  width: 20%;
}
.mat-headline {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: crimson;
}
td,
th {
  width: 25%;
}
/* .mat-elevation-z8, mat-paginator{
    width: 50%;
} */
.mat-icon-button{
  color: yellowgreen;
}

.doctor-card {
  max-width: 250px;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 50px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.displayCards{
  position: relative;
  margin-top: 30px;
  padding: 40px;
}
.mat-card-title{
  font-size: 15px;
}
.mat-card-subtitle{
  font-size: 12px;
}

