<div class="container-doctor">
  <!-- search and add button -->
  <div class="mat-headline">Doctor Information</div>
  <div class="displayFilter">
    <div class="searchInput">
      <mat-form-field>
        <mat-label>Search Doctor</mat-label>
        <input
          #inputSearch
          name="search"
          [(ngModel)]="searchText"  
          matInput
          placeholder="Write name doctor"
        />
      </mat-form-field>
    </div>
    <!-- TODO -->
    <div class="selectHospital">
      <mat-form-field>
        <mat-label>Choose a hospital</mat-label>
        <mat-select #selectHospital [(ngModel)]="selectedHospital" name="hospital">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="selectDepartment">
      <mat-form-field>
        <mat-label>Choose a department</mat-label>
        <mat-select [disabled]="!selectHospital.value" [(ngModel)]="selectedDepartment" name="department">
          <mat-option *ngFor="let department of departments" [value]="department.id">
            {{department.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="searchButton">
      <button (click)="searchDoctor(selectedHospital.value,selectedDepartment.value,searchText)" mat-raised-button color="primary"> Search </button>
    </div>
  </div>
  <!-- list doctors card -->
  <div class="displayCards">
    <mat-card
      *ngFor="
        let doctor of doctors | 
        paginate: {
          id: 'paging-one',
          itemsPerPage: 10,
          currentPage: pageIndex,
          totalItems: totalDoctors
        }
      "
      class="doctor-card"
    >
      <mat-card-header (click)="onSelect(doctor)">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ doctor.name }}</mat-card-title>
        <mat-card-subtitle>{{ doctor.specialist }}</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>Gender:{{ doctor.gender === 1 ? "Nam" : "Nữ" }}</p>
        <p>Title:{{ doctor.title }}</p>
        <p>Unit: {{ doctor.unit }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div>
    <pagination-controls
      id="paging-one"
      (pageChange)="pageIndex = $event"
      maxSize="9"
      directionLinks="true"
      responsive="true"
      previousLabel="Previous"
      nextLabel="Next"
    >
    </pagination-controls>
  </div>
</div>
