table {
  width: 100%;
}
.container-doctor {
    padding: 40px;
}
.mat-form-field {
  font-size: 14px;
  width: 50%;
  display: block;
}
.mat-header-cell {
  background-color: cornflowerblue;
}
.displayProcess {
  position: relative;
}
.mat-stroked-button {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
.mat-headline {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: crimson;
}
td,
th {
  width: 25%;
}
/* .mat-elevation-z8, mat-paginator{
    width: 50%;
} */
.mat-icon-button{
  color: yellowgreen;
}