
<div class="container-doctor">
    <div class="mat-headline">Doctor Information</div>
    <div class="displayProcess">
      <p>
        <mat-form-field>
          <mat-label>Search Record</mat-label>
          <input (keyup)="applyFilter($event)" matInput placeholder="Find something">
        </mat-form-field>
      </p>
      <p>
  
          <button mat-stroked-button color="primary" (click)="openDialog()">Add a record</button>
  
      </p>
    </div>
    
    <mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID number </mat-header-cell>
        <mat-cell *matCellDef="let element "> {{element.id}} </mat-cell>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
    
      <!-- Gender Column -->
      <ng-container matColumnDef="gender">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Gender </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.gender == 1 ? 'Nam':'Nữ'}} </mat-cell>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
      </ng-container>
      
      <!-- Specialist Column -->
      <ng-container matColumnDef="specialist">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Specialist </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.specialist}} </mat-cell>
      </ng-container>

      <!-- Unit Column -->
      <ng-container matColumnDef="unit">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Unit </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.unit}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell  *matHeaderCellDef >  </mat-header-cell>
        <mat-cell *matCellDef="let row" >
          <button (click)="editRecord(row)"mat-icon-button><mat-icon>edit</mat-icon></button>
          <button mat-icon-button (click)="deleteRecord(row)"><mat-icon>delete_outline</mat-icon></button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]">   
    </mat-paginator>
  </div>