/* .mat-toolbar{
    background-color: transparent;
} */
.navbar{
    justify-content: space-between;
}
a{
    padding-right: 2rem;
    text-decoration: none;
}
a:visited {
    background-color: cyan;
  }

a:active {
    color: hotpink;
} 

a:hover {
    color: lightgreen;
}