<mat-toolbar class="navbar" color="primary">
    <div>
        BLOUSE
    </div>
    <div>
        <a>Home</a>
        <a [routerLink]="['/doctors']" routerLinkActive="router-link-active" >Doctors</a>
        <a>Users</a>
        <a>Login</a>
    </div>
</mat-toolbar>